body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1186px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:882px;
}
#u3724 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:882px;
  display:flex;
}
#u3724 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3724_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3725 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:285px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3726 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:68px;
  width:550px;
  height:285px;
  display:flex;
}
#u3726 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3726_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3727_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:265px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3727 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:81px;
  width:522px;
  height:265px;
  display:flex;
}
#u3727 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3727_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3728_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3728 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:163px;
  width:223px;
  height:58px;
  display:flex;
}
#u3728 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3728_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3729 label {
  left:0px;
  width:100%;
}
#u3729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u3729 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:167px;
  width:100px;
  height:15px;
  display:flex;
}
#u3729 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u3729_img.selected {
}
#u3729.selected {
}
#u3729_img.disabled {
}
#u3729.disabled {
}
#u3729_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u3729_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u3730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1003px;
  height:127px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3730 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:766px;
  width:1003px;
  height:127px;
  display:flex;
}
#u3730 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3730_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:41px;
}
#u3731 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:763px;
  width:108px;
  height:41px;
  display:flex;
}
#u3731 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3731_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3732 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:151px;
  width:310px;
  height:70px;
  display:flex;
}
#u3732 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3732_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3733_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3733 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:229px;
  width:246px;
  height:15px;
  display:flex;
  color:#999999;
}
#u3733 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3733_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
