body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1188px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1188px;
  height:883px;
}
#u3691 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1188px;
  height:883px;
  display:flex;
}
#u3691 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3691_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:927px;
  height:181px;
}
#u3692 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:991px;
  width:927px;
  height:181px;
  display:flex;
}
#u3692 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3692_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:993px;
  height:145px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3693 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:750px;
  width:993px;
  height:145px;
  display:flex;
}
#u3693 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3693_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3694_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:17px;
  background:inherit;
  background-color:rgba(249, 250, 252, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#2389CD;
  text-align:center;
}
#u3694 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:714px;
  width:64px;
  height:17px;
  display:flex;
  font-size:12px;
  color:#2389CD;
  text-align:center;
}
#u3694 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3694_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3695 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:958px;
  width:65px;
  height:15px;
  display:flex;
}
#u3695 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3695_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3696_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3696 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:958px;
  width:65px;
  height:15px;
  display:flex;
}
#u3696 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3696_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3697 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:940px;
  width:109px;
  height:34px;
  display:flex;
}
#u3697 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3697_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3698_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u3698 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:940px;
  width:117px;
  height:15px;
  display:flex;
  color:#666666;
}
#u3698 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3698_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3699_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u3699 {
  border-width:0px;
  position:absolute;
  left:901px;
  top:940px;
  width:117px;
  height:15px;
  display:flex;
  color:#666666;
}
#u3699 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3699_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3700_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(255, 0, 0, 0.8);
}
#u3700 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:606px;
  width:542px;
  height:74px;
  display:flex;
  color:rgba(255, 0, 0, 0.8);
}
#u3700 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3700_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3701_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3701 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:1044px;
  width:548px;
  height:29px;
  display:flex;
}
#u3701 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3701_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:170px;
}
#u3702 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:762px;
  width:265px;
  height:170px;
  display:flex;
}
#u3702 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3702_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:170px;
}
#u3703 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:762px;
  width:265px;
  height:170px;
  display:flex;
}
#u3703 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3703_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
