body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1194px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1194px;
  height:795px;
}
#u3755 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1194px;
  height:795px;
  display:flex;
}
#u3755 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3755_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3756 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:656px;
  height:155px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3757 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:583px;
  width:656px;
  height:155px;
  display:flex;
}
#u3757 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3758_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:139px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3758 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:592px;
  width:605px;
  height:139px;
  display:flex;
}
#u3758 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3759_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3759 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:267px;
  width:571px;
  height:59px;
  display:flex;
}
#u3759 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3759_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3760 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:258px;
  width:30px;
  height:30px;
  display:flex;
  color:#FF0000;
}
#u3760 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3760_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:771px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3761 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:326px;
  width:771px;
  height:88px;
  display:flex;
}
#u3761 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3762 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:326px;
  width:30px;
  height:30px;
  display:flex;
  color:#FF0000;
}
#u3762 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3762_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1184px;
  height:962px;
}
#u3763 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:795px;
  width:1184px;
  height:962px;
  display:flex;
}
#u3763 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3763_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
