body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1932px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3312_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1919px;
  height:926px;
}
#u3312 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1919px;
  height:926px;
  display:flex;
}
#u3312 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3312_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3313_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:21px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3313 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:115px;
  width:67px;
  height:21px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3313 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3313_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3314_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:29px;
}
#u3314 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:325px;
  width:158px;
  height:29px;
  display:flex;
}
#u3314 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3314_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
}
#u3315 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:353px;
  width:162px;
  height:30px;
  display:flex;
}
#u3315 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3315_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3316_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:15px;
  background:inherit;
  background-color:rgba(203, 233, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3316 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:360px;
  width:54px;
  height:15px;
  display:flex;
  font-size:12px;
}
#u3316 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3316_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3317_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#389CCC;
  text-align:center;
}
#u3317 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:112px;
  width:60px;
  height:24px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#389CCC;
  text-align:center;
}
#u3317 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3317_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3318_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3318 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:118px;
  width:48px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u3318 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3318_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u3319 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:116px;
  width:12px;
  height:20px;
  display:flex;
}
#u3319 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3319_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u3320 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:175px;
  width:51px;
  height:15px;
  display:flex;
  text-align:right;
}
#u3320 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3320_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3321 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:156px;
  width:63px;
  height:46px;
  display:flex;
}
#u3321 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3321_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3322_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:23px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3322_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:23px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3322_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3322 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:169px;
  width:68px;
  height:23px;
  display:flex;
}
#u3322 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3322_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:23px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3322.disabled {
}
.u3322_input_option {
}
#u3323_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3323 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:118px;
  width:72px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u3323 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3323_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3324_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u3324 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:114px;
  width:67px;
  height:25px;
  display:flex;
  font-size:12px;
  text-align:center;
}
#u3324 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3324_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1751px;
  height:227px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3325 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:413px;
  width:1751px;
  height:227px;
  display:flex;
}
#u3325 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3325_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3326_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3326 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:258px;
  width:263px;
  height:15px;
  display:flex;
  color:#999999;
}
#u3326 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3326_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3327_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1529px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3327 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:339px;
  width:1529px;
  height:22px;
  display:flex;
}
#u3327 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3327_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3328 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:341px;
  width:26px;
  height:15px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3328 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3328_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3329_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3329 {
  border-width:0px;
  position:absolute;
  left:1370px;
  top:342px;
  width:26px;
  height:15px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3329 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3329_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3330 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:397px;
  width:39px;
  height:20px;
  display:flex;
}
#u3330 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3330_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:35px;
}
#u3331 {
  border-width:0px;
  position:absolute;
  left:1335px;
  top:389px;
  width:98px;
  height:35px;
  display:flex;
}
#u3331 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3331_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3332_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009DDA;
}
#u3332 {
  border-width:0px;
  position:absolute;
  left:1816px;
  top:401px;
  width:26px;
  height:15px;
  display:flex;
  color:#009DDA;
}
#u3332 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3332_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1717px;
  height:2px;
}
#u3333 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:453px;
  width:1716px;
  height:1px;
  display:flex;
}
#u3333 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3333_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3334_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3334 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:479px;
  width:39px;
  height:20px;
  display:flex;
}
#u3334 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3334_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3335_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009DDA;
}
#u3335 {
  border-width:0px;
  position:absolute;
  left:1816px;
  top:481px;
  width:26px;
  height:15px;
  display:flex;
  color:#009DDA;
}
#u3335 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3335_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1717px;
  height:2px;
}
#u3336 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:526px;
  width:1716px;
  height:1px;
  display:flex;
}
#u3336 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3336_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3337 {
  border-width:0px;
  position:absolute;
  left:1805px;
  top:393px;
  width:50px;
  height:417px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3338 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:114px;
  width:89px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3339 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:112px;
  width:50px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3340 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:114px;
  width:50px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3341 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:338px;
  width:13px;
  height:15px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3341 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3341_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3342_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3342 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:393px;
  width:46px;
  height:20px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3342 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3342_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3343 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:477px;
  width:46px;
  height:20px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3343 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3343_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:14px;
  background:inherit;
  background-color:rgba(223, 244, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u3344 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:67px;
  width:58px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#999999;
}
#u3344 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3344_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u3345 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:342px;
  width:67px;
  height:15px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u3345 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3345_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3346_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3346 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:397px;
  width:26px;
  height:16px;
  display:flex;
}
#u3346 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3346_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u3347 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:342px;
  width:67px;
  height:15px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u3347 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3347_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3348_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3348 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:398px;
  width:48px;
  height:17px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3348 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3348_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3349_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3349 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:557px;
  width:39px;
  height:20px;
  display:flex;
}
#u3349 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3349_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3350_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009DDA;
}
#u3350 {
  border-width:0px;
  position:absolute;
  left:1816px;
  top:559px;
  width:26px;
  height:15px;
  display:flex;
  color:#009DDA;
}
#u3350 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3350_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1717px;
  height:2px;
}
#u3351 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:604px;
  width:1716px;
  height:1px;
  display:flex;
}
#u3351 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3351_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3352_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3352 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:555px;
  width:46px;
  height:20px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3352 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3352_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3353_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3353 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:637px;
  width:39px;
  height:20px;
  display:flex;
}
#u3353 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3353_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3354_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009DDA;
}
#u3354 {
  border-width:0px;
  position:absolute;
  left:1816px;
  top:639px;
  width:26px;
  height:15px;
  display:flex;
  color:#009DDA;
}
#u3354 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3354_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1717px;
  height:2px;
}
#u3355 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:684px;
  width:1716px;
  height:1px;
  display:flex;
}
#u3355 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3355_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3356 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:635px;
  width:46px;
  height:20px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3356 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3356_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3357 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:711px;
  width:39px;
  height:20px;
  display:flex;
}
#u3357 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3357_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009DDA;
}
#u3358 {
  border-width:0px;
  position:absolute;
  left:1816px;
  top:713px;
  width:26px;
  height:15px;
  display:flex;
  color:#009DDA;
}
#u3358 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3358_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1717px;
  height:2px;
}
#u3359 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:758px;
  width:1716px;
  height:1px;
  display:flex;
}
#u3359 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3359_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3360_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3360 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:709px;
  width:46px;
  height:20px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3360 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3360_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3361 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:782px;
  width:39px;
  height:20px;
  display:flex;
}
#u3361 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3361_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3362_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009DDA;
}
#u3362 {
  border-width:0px;
  position:absolute;
  left:1816px;
  top:784px;
  width:26px;
  height:15px;
  display:flex;
  color:#009DDA;
}
#u3362 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3362_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1717px;
  height:2px;
}
#u3363 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:829px;
  width:1716px;
  height:1px;
  display:flex;
}
#u3363 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3363_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3364 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:780px;
  width:46px;
  height:20px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3364 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3364_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3365_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3365 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:479px;
  width:26px;
  height:16px;
  display:flex;
}
#u3365 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3365_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3366 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:480px;
  width:48px;
  height:17px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3366 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3366_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3367 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:555px;
  width:26px;
  height:16px;
  display:flex;
}
#u3367 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3367_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3368 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:556px;
  width:52px;
  height:17px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3368 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3368_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3369 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:635px;
  width:26px;
  height:16px;
  display:flex;
}
#u3369 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3369_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3370 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:636px;
  width:52px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3370 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3370_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3371 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:713px;
  width:26px;
  height:16px;
  display:flex;
}
#u3371 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3371_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3372 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:714px;
  width:48px;
  height:17px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3372 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3372_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3373 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:784px;
  width:26px;
  height:16px;
  display:flex;
}
#u3373 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3373_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3374 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:785px;
  width:52px;
  height:17px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3374 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3374_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:34px;
}
#u3375 {
  border-width:0px;
  position:absolute;
  left:1335px;
  top:472px;
  width:98px;
  height:34px;
  display:flex;
}
#u3375 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3375_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:34px;
}
#u3376 {
  border-width:0px;
  position:absolute;
  left:1335px;
  top:550px;
  width:98px;
  height:34px;
  display:flex;
}
#u3376 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3376_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:34px;
}
#u3377 {
  border-width:0px;
  position:absolute;
  left:1335px;
  top:629px;
  width:98px;
  height:34px;
  display:flex;
}
#u3377 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3377_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:34px;
}
#u3378 {
  border-width:0px;
  position:absolute;
  left:1335px;
  top:704px;
  width:98px;
  height:34px;
  display:flex;
}
#u3378 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:34px;
}
#u3379 {
  border-width:0px;
  position:absolute;
  left:1335px;
  top:778px;
  width:98px;
  height:34px;
  display:flex;
}
#u3379 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3379_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3380 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:679px;
  height:221px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3381 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:71px;
  width:679px;
  height:221px;
  display:flex;
}
#u3381 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3381_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:649px;
  height:188px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-style:normal;
}
#u3382 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:84px;
  width:649px;
  height:188px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-style:normal;
}
#u3382 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3382_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
